* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: rgb(101, 101, 97);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: grey;
}

.nombre {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    color: yellow;
    font-size: 60px;
    padding: auto;
}

/*NAV BAR*/

.navbar>.container-fluid {
    background-color: black;
}

.navbar>.container-fluid a {
    color: yellow;
    text-transform: uppercase;
    font-size: 15px;
}

.bg-body-tertiary {
    background-color: black !important;
}

.navbar-toggler.collapsed {
    border-color: yellow;
}

/* PRESENTACION PRODUCTOS*/

.card-text {
    color: black;
   
}

.col-md-8 {
    background-color: grey;
   
}

.card.mb-3.m-5 {
   text-align: center;
    
}

/*CONTENEDOR DE PRODUCTOS*/

.row.p-5.m-5 {
    margin: 10px;
}

.btn.btn-primary {
    background-color: grey;
    border-color: grey;
    color: yellow
}

.card-title {
    text-align: center;
    color: rgb(240, 240, 233);
}

.card-text {
    text-align: justify;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.card.p-3.m-3 {
    background-color: rgb(0, 0, 0);
}

/*PORTADA*/

.portada {
    display: inline-flex;
    padding: 100px;
    align-items: center;
    position: relative;
    left: 10%;
}

.ciencia {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 20px 0px;
    margin-top: 2px;
    margin-left: 0px;
    background-color: rgb(28, 27, 27);
    width: 350px;
    height: 400px;
}

.video {
    margin: 20px 0px;
}

.tciencia {
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
    color: white
}

.p1 {
    margin: 20px;
    text-align: justify;
    font-weight: lighter;
    color: white
}

.guiaP {
    border: 5px;
    background-color: grey;
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
}

.tituloGuia {
    font-size: 20px;
    height: 50px;
    padding: 5px;
    margin-top: 1%;
}

/*Main responsive*/

@media screen and (max-width: 600px) {
	.portada {
        display: flex;
        flex-wrap: wrap;
        left: 20px; 
    }

    .video{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 330px;
        margin-top: 0px;   
    }

    .enlaceProductos{
        font-size: 10x;
    }

}
/*FORMULARIO*/

.formulario {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color:black;
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.boton{
    background-color: rgb(1, 14, 10);
    color: white;
    border-radius: 6px;
    width: 70px;
}

.titleConta{
    text-align: center;
    font-size: 60px;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color:black;
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;   
}

/*FORMULARIO*/

/*FOOTER*/

footer {
	background:#000305;
	width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
    align-items: center;
}

footer .links {
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;
	color:yellow;
	padding:10px;
	text-align: center;
	text-decoration:none;
    text-transform: uppercase;
}

footer .social {
color: yellow;
}

footer .social a {
	color:yellow;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

.social{
    text-transform: uppercase;
}

@media screen and (max-width: 300px) {

	footer {
		justify-content:center;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {

	footer {
		justify-content:space-evenly;
        text-align: center;
	}
}

@media screen and (max-width: 800px) {

	footer {
		justify-content:space-evenly;
        text-align: center;
	}
}